.customize-form-item {
    .ant-form-item {
        margin-bottom: 0;
    }
}

.ant-pro-form-pro-form-switch {
    .ant-form-item-control-input {
        min-height: 0;
    }

    .ant-form-item-control-input-content {
        flex: none;
    }

    .ant-form-item {
        margin-bottom: 0;
    }
}